.inputs{
    position: relative;
}

.form-control {
    text-indent: 15px;
    border: none;
    height: 45px;
    border-radius: 0px;
    border-bottom: 1px solid #eee;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #eee;
    outline: 0;
    box-shadow: none;
    border-bottom: 1px solid #69abb9;
}


.form-control:focus  {
    color: #495057;
}

.inputs .search{

    position: absolute;
    top: 14px;
    left: 4px;
    color: #b8b9bc;
}

input[type="text"]
{
    font-size:18px;
}