$twoCardSize: 1600px;

#cards{
  display: grid;
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
  justify-items: center;

  @media (min-width: $twoCardSize) {
    grid-template-columns: repeat(2, 1fr);
  }
}
